@using GestionDeMetas.Shared.DTO.Actividad
@inject DialogService DialogService
<EditForm Model=actividadDTO OnValidSubmit="enviarFormulario">
    <FluentValidationValidator/>
    <div class="form-group">
        <label>Nombre:</label>
        <div>
            <InputText class="form-control" @bind-Value="@actividadDTO.Nombre" />
            <ValidationMessage For="() => actividadDTO.Nombre" />
            <span> </span>
        </div>
    </div>


     <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
        <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Guardar" class="rz-background-color-success-darker" />
                <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Cancelar" Click="@Cancel" />
            </div>
</EditForm>

@code {
    [Parameter] public ActividadDTO actividadDTO { set; get; }
    [Parameter] public EventCallback enviarFormulario { set; get; }


    void Cancel()
    {
        DialogService.Close();
    }
}