@inherits LayoutComponentBase
<RadzenContextMenu />
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />


<div class="page">
    <div class="sidebar rz-background-color-success-darker">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
           
        </div>

        <article class="content px-4" style="background: #efefef;">
            @Body
        </article>
    </main>
</div>
